* { margin:0; padding:0 }

html {
 font-size: 100%;
}

body {
  margin: 0 1rem;
}

form {
  position: fixed;
  width: 100%;
  padding: 1.2rem;
}

[aria-grabbed=true] {
  opacity: 0.5;
  outline: 1px dashed hsl(0, 0%, 20%);
}

[aria-dropeffect=move] {
  background: dodgerblue;
}

#tweets {
  list-style-type: none;
}

#tweets li {
  margin: 0.7rem 0;
}