* { margin:0; padding:0 }

body {
  margin: 4rem 1rem 0;
}

form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: hsla(200, 0%, 90%, 0.9);
}

article {
  padding: 0.25rem;
  border-radius: 0.3rem;
  border: 1px dashed transparent;
}
article:hover {
  border-color: #bbb;
  cursor: move;
}
